<!doctype html>
<html lang="en" ng-app="mainApp">

	<head>
		<meta charset="utf-8">

		<title>CS5800 Semester Project</title>

		<meta name="description" content="Semester Project for CS5800">
		<meta name="author" content="Doug Ellison">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	    	<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css" media="screen">

	</head>

	<body ng-controller="main" class="container">
		<div class="container">
	      <!-- Static navbar -->
	      <div class="navbar navbar-default">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">CS5800 Computer Graphics</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="https://github.com/dougellison/cs5800">GitHub Project</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples From other sites <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="http://dougellison.github.io/demos/google/san-angeles" target="_blank">San Angeles</a></li>
	                <li><a href="http://dougellison.github.io/demos/google/high-dpi" target="_blank">High DPI</a></li>
	                <li><a href="http://dougellison.github.io/demos/google/image-texture-test" target="_blank">Image Texture Test</a></li>
	                <li><a href="http://dougellison.github.io/demos/google/nvidia-vertex-buffer-object" target="_blank">Nvidia Vertex Buffer Object</a></li>
	                <li><a href="http://dougellison.github.io/demos/google/particles" target="_blank">Particles</a></li>
	                <li><a href="http://dougellison.github.io/demos/google/procedural-texture-test" target="_blank">Procedural Texture Test</a></li>
	                <li><a href="http://dougellison.github.io/demos/google/shiny-teapot" target="_blank">Shiny Teapot</a></li>
	                <li><a href="http://dougellison.github.io/demos/google/web-workers-typed-arrays" target="_blank">Web Workers Typed Arrays</a></li>

	              </ul>
	            </li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>

	    
		<h1>Welcome</h1>

		Use the controls on the left to make changes
		<br>
		<!-- Below defines a container that holds the ThreeJS drawing.  Currently specifying a hard coded height and width -->
        <div class="row">
            <div class="panel-group col-lg-3" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Import / Export
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            Controls for importing and exporting
                            <input type="text" ng-keydown="{rotate()}" ng-keypress="{rotate()}"/>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Objects
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body" ng-init="objectAction = 'Add'">

                            <input type="radio" name="objectAction" ng-model="objectAction" value="Add">Add</input>
                            <input type="radio" name="objectAction" ng-model="objectAction" value= "EditRemove">Edit or Remove</input>


                            <hr />
                            <div ng-show="objectAction == 'Add'" class="form-horizontal">
                                <div class="form-group">

                                    <label class="col-sm-5">Object Type</label>
                                    <div class="col-sm-7">
                                        <select ng-model="selectedObjectType">
                                            <option ng-repeat="object in objectTypes" >{{object.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <input ng-keydown="sayHello()" value="moo"/>

                                <div ng-switch="selectedObjectType">
                                    <div ng-switch-when="Cube">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">X</label>
                                            <div class="col-sm-10">
                                                <input type="text" ng-model="$parent.xValue" ng-init="$parent.xValue = 50" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Y</label>
                                            <div class="col-sm-10">
                                                <input type="text" ng-model="$parent.yValue" ng-init="$parent.yValue = 50"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Z</label>
                                            <div class="col-sm-10">
                                                <input type="text" ng-model="$parent.zValue" ng-init="$parent.zValue = 50"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Click Save</label>
                                            <div class="col-sm-10">
                                                <button ng-click="addObject()">Insert Object</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="Sphere">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Radius</label>
                                            <div class="col-sm-10">
                                                <input type="text" ng-model="$parent.radius" ng-init="$parent.radius = 100" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Segments</label>
                                            <div class="col-sm-10">
                                                <input type="text" ng-model="$parent.segments" ng-init="$parent.segments = 100"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Rings</label>
                                            <div class="col-sm-10">
                                                <input type="text" ng-model="$parent.rings" ng-init="$parent.rings = 100"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Click Save</label>
                                            <div class="col-sm-10">
                                                <button ng-click="addObject()">Insert Object</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div ng-show="objectAction == 'EditRemove'">
                                <select ng-model="selectedObject" ng-options="object.name for object in objects">

                                </select>

                                <div ng-show="editableObject" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">X position</label>
                                        <div class="col-sm-8">
                                            <input ng-model="editableObject.position.x" type="range" min="-1000" max="1000"><input type="text" ng-model="editableObject.position.x"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Y position</label>
                                        <div class="col-sm-8">
                                            <input ng-model="editableObject.position.y" type="range" min="-1000" max="1000"><input type="text" ng-model="editableObject.position.y"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Z position</label>
                                        <div class="col-sm-8">
                                            <input ng-model="editableObject.position.z" type="range" min="-1000" max="1000"><input type="text" ng-model="editableObject.position.z"/>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Rotate</label>
                                        <div class="col-sm-8">
                                            <input type="radio" name="rotating"  ng-model="editableObject.rotateType" value="cont">Continuous</input>
                                            <input type="radio" name="rotating"  ng-model="editableObject.rotateType" value="stat">Stationary</input>
                                        </div>
                                    </div>

                                    <div ng-show="editableObject.rotateType == 'stat'" class="row">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">X-axis</label>
                                            <div class="col-sm-8">
                                                <input ng-model="editableObject.rotation.x" type="range" min="-1" max="1" step="0.001">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Y-axis</label>
                                            <div class="col-sm-8">
                                                <input ng-model="editableObject.rotation.y" type="range" min="-1" max="1" step="0.001">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Z-axis</label>
                                            <div class="col-sm-8">
                                                <input ng-model="editableObject.rotation.z" type="range" min="-1" max="1" step="0.001">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="editableObject.rotateType == 'cont'">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">X-axis</label>
                                            <div class="col-sm-8">
                                                <input ng-model="editableObject.rotationXAmount" type="range" min="-1" max="1" step="0.001">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Y-axis</label>
                                            <div class="col-sm-8">
                                                <input ng-model="editableObject.rotationYAmount" type="range" min="-1" max="1" step="0.001">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Z-axis</label>
                                            <div class="col-sm-8">
                                                <input ng-model="editableObject.rotationZAmount" type="range" min="-1" max="1" step="0.001">
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Camera Control
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Look at (0,0,0)</label>
                                    <div class="col-sm-9">
                                        <input ng-model="lookAt000" type="checkbox" ng-init="lookAt000 = true">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Move X </label>
                                    <div class="col-sm-9">
                                        <input ng-model="camera.position.x" type="range" min="-3000" max="3000" step="50"><input type="text" ng-model="camera.position.x"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Move Y</label>
                                    <div class="col-sm-9">
                                        <input ng-model="camera.position.y" type="range" min="-3000" max="3000" step="50"><input type="text" ng-model="camera.position.y"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Move Z</label>
                                    <div class="col-sm-9">
                                        <input ng-model="camera.position.z" type="range" min="-3000" max="3000" step="50"><input type="text" ng-model="camera.position.z"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Frustum</label>
                                    <div class="col-sm-9">
                                        <input ng-model="fovString" type="range" min="0" max="180"><input type="text" ng-model="fovString"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Aspect</label>
                                    <div class="col-sm-9">
                                        <input ng-model="camera.aspect" type="range" min="1" max="5" step="0.001"><input type="text" ng-model="camera.aspect"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Near</label>
                                    <div class="col-sm-9">
                                        <input ng-model="nearString" type="range" min="1" max="3000"><input type="text" ng-model="nearString"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Far</label>
                                    <div class="col-sm-9">
                                        <input ng-model="farString" type="range" min="0" max="5000"><input type="text" ng-model="farString"/>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mainDrawLocation" class="table-bordered col-lg-9" ng-mousedown="pickObject($event)" ng-mousemove="logPosition($event)" style="height:900; background-color: #000000"></div>
        </div>



            <!-- Using Twitter bootstrap for some of the more flashy drop down menus and layout. Below is an example of an inline form
            This form simply defines a left hand to right hand side flow. Each form-group is a chunk with label then input-->
		<!--<form class="form-inline">-->
			<!--<div class="form-group">-->
				<!--<labe>Zoom in / out</label>-->
				<!--<input ng-model="zoomLevel" type="range" min="200" max="1000">-->
			<!--</div>-->
			<!--<div class="form-group">-->
				<!--<labe>Rotate</label>-->
				<!--<input ng-model="rotate" type="checkbox">-->
			<!--</div>-->
		<!--</form>-->
		<!--&lt;!&ndash; Defines a horizontal flow.  Each form-group is a chunk where label / input are on a single line &ndash;&gt;-->
		<!--<form class="form-horizontal">-->
			<!--<div class="form-group">-->
				<!--<labe>X:</label>-->
				<!--<input ng-model="nonRotatingMesh.position.x" type="range" min="-600" max="600">-->
				<!--<input ng-model="nonRotatingMesh.position.x" type="text"/>-->
			<!--</div>-->
			<!--<div class="form-group">-->
				<!--<labe>Y:</label>-->
				<!--<input ng-model="nonRotatingMesh.position.y" type="range" min="-600" max="600">-->
				<!--<input ng-model="nonRotatingMesh.position.y" type="text"/>-->
			<!--</div>-->
			<!--<div class="form-group">-->
				<!--<labe>Z:</label>-->
				<!--<input ng-model="nonRotatingMesh.position.z" type="range" min="-600" max="600">-->
				<!--<input ng-model="nonRotatingMesh.position.z" type="text"/>-->
			<!--</div>-->
		<!--</form>-->
	</body>
	
	<!-- The various includes for ThreeJS Angular and bootstrap.  Along with main.js which is where I've put all my 
	implementation-->
	<script src="./lib/js/three.min.js"></script> 
	<script src="lib/js/angular/angular-all.min.js" ></script>
	<script src="lib/js/threejs/stats.min.js" ></script>
	<script src="lib/js/threejs/TrackballControls.js" ></script>
	<script src="lib/js/threejs/OrbitControls.js" ></script>

	<script src="lib/js/threejs/Detector.js" ></script>
	<script type="text/javascript" src="js/main.js"></script>

	<script type="text/javascript" src="./lib/js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="./lib/bootstrap/js/bootstrap.js"> </script>

	
</html>
